.afaqpluscourses {
  padding: 0;
}

.courses {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Desktop 4 colonnes */
  grid-template-rows: repeat(2, auto);
  padding: 0 2rem 0 3rem;
  gap: 1rem;
}

.one-card {
  position: relative;
}

/* Base image */
.original-img {
  width: 100%;
  display: block;
  border-radius: 16px;
}

.image-wraper {
  position: relative;
  display: inline-block;
  overflow: hidden; /* Keep blur inside */
}

.chapters {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  direction: ltr;
  left: 1.5rem;
  bottom: 3.9rem;
  height: 20px;
}

.chapters p {
  font-family: 'Agdasima';
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: white;
  text-shadow: 0 0 6.1px #FFFFFF9E;
  padding-left: 0.9rem;
  text-align: center;
}

.chapters img {
  height: 20px;
  width: 20px;
}

.price {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  direction: ltr;
  left: 1.5rem;
  bottom: 2rem;
}

.price p {
  font-family: 'Agdasima';
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: white;
  text-shadow: 0 0 6.1px #FFFFFF9E;
  padding-left: 0.9rem;
  letter-spacing: 1.3px;
  font-style: normal;
}

.price img {
  height: 20px;
  width: 20px;
}

.Play-now-btn-wrapper {
  position: absolute;
  display: inline-block;
  bottom: 2.4rem;
  right: 1.8rem;
}

.Play-now-btn {
  padding: 6px 16px;
  padding-left: 9px;
  border-radius: 5px;
  margin: 0.3px;
  font-weight: 500;
  transition: all 0.3s ease;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: conic-gradient(from 176.16deg at 40.1% 115.62%, #03FFF7 0deg, #D800B9 360deg);
}

.Play-now-btn img {
  height: 19px;
  width: 19px;
}

.Play-now-btn p {
  padding-left: 4px;
  padding-right: 7px;
  margin: 0;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.Play-now-btn:hover {
  background: conic-gradient(from 176.16deg at 40.1% 115.62%, #03fff748 0deg, #d800b859 360deg);
}

.course-title {
  position: absolute;
  bottom: 7rem;
  left: 0rem;
  padding: 0.5px 1rem;
  background-image: url(../images/title-rec.png);
  background-repeat: no-repeat;
  min-height: 50px;
  min-width: 18rem;
}

.course-title p {
  font-family: 'Agdasima';
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  padding-left: 1rem;
  padding-right: 5rem;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 1px 3.2px #000957;
}

.favorite-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 2;
  transition: transform 0.3s ease;
}

.favorite-icon:hover {
  transform: scale(1.15);
}

.like-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.star-icon {
  width: 34px;
  height: 34px;
}

/* --- Responsive --- */
@media screen and (max-width: 1400px) {
  .courses {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 2rem;
    gap: 1.5rem;
  }}
/* Tablets (1024px) */
@media screen and (max-width: 1024px) {
  .courses {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2rem;
    gap: 1.5rem;
  }

  .course-title p {
    font-size: 18px;
  }

  .course-title {
    min-width: 18rem;
  }

    .Play-now-btn{
    padding: 0.5rem 2rem;
  }

  .chapters p,
  .price p {
    font-size: 16px;
  }

  .Play-now-btn p {
    font-size: 12px;
  }

  .star-icon {
    width: 28px;
    height: 28px;
  }
}

/* Mobile phones (600px) */
@media screen and (max-width: 600px) {
  .courses {
    grid-template-columns: 1fr;
    padding: 0 3rem;
    gap: 2rem;
  }

  .course-title {
    bottom: 7rem;
    left: 0rem;
    right: 0.5rem;
    padding: 0.4rem 0rem;
  }

  .course-title p {
    font-size: 20px;
    padding-left: 0rem;
  }

  .chapters {
    bottom: 4rem;
    left: 1rem;
  }

  .price {
    bottom: 2rem;
    left: 1rem;
  }

  .chapters p,
  .price p {
    font-size: 16px;
  }

  .Play-now-btn-wrapper {
    bottom: 2.4rem;
    right: 2rem;
  }

  .Play-now-btn p {
    font-size: 12px;
  }

  .Play-now-btn{
    padding: 0.5rem 2rem;
  }

  .star-icon {
    width: 28px;
    height: 28px;
  }
}

@media screen and (max-width: 400px) {
  .courses {
    grid-template-columns: 1fr;
    padding: 0 2rem;
    gap: 2rem;
  }

  .course-title {
    bottom: 7rem;
    left: 0rem;
    right: 0.5rem;
    padding: 0.4rem ;


  }

  .course-title p {
    font-size: 20px;
    padding-left: 0rem;
  }

  .chapters {
    bottom: 3rem;
    left: 1rem;
  }

  .price {
    bottom: 1rem;
    left: 1rem;
  }

  .chapters p,
  .price p {
    font-size: 16px;
  }

  .Play-now-btn-wrapper {
    bottom: 1.5rem;
    right: 1rem;
  }

  .Play-now-btn p {
    font-size: 12px;
  }

  .Play-now-btn{
    padding: 0.3rem 0.8rem;
  }

  .star-icon {
    width: 28px;
    height: 28px;
  }
}
